# .NET
Back/bin/
Back/obj/
Back/ekr.db
Back/ekr.db-shm
Back/ekr.db-wal
Back/wwwroot/uploads/*
!Back/wwwroot/uploads/.gitkeep

# Node
Front/node_modules/
Front/dist/

# OS / IDE
.DS_Store
.idea/
.vscode/
*.user
*.suo
